extends layout

block content
  div(class="content-sidebar")
    div(id="chatroom")
      ul(id="conversation")
    div(class="sidebar")
      div(id="userList")
        h4 Users Online
        div(id="users")
  div(class="button_input_group")
    input(type="text" name="chat_box" value="" id="data" placeholder="type to chat...")
    button(id="datasend") Send