doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/styles.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab', type='text/css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js")
    script(src="public/main.js")
  body
    block content
